{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Gautam Gurung</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/bfbccc3348.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="navbar">
        <div class="navbar-links">
            <a href="#master">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#contact">Contact</a>
        </div>
    </div>

    <!-- Home section-->
    <header id="master" class="home">
        <div class="header-container">
            <img src="{%static 'images\pfp-square.png' %}" class = "profile-pic">
            <h1 class = "home-heading">Hi There, <br> I'm Gautam Gurung</h1>
            <!-- <a href="#" class="button1">About Me</a> -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star fa-spin"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p class="home-subheading">Software Engineer | Fullstack | Cloud Computing</p>
        </div>
    </header>

    <!-- About Section-->
    <section id="about" class="about-section">
        <div class="container">
            <h2 class ="about-section-heading">About</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star fa-spin"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class ="about-text">
                        <p> As an aspiring Software Engineer, I am eager to contribute to the development of cutting-edge projects. Seeking a dynamic role
                            where I can apply my problem-solving skills and stay at the forfront of emerging technologies. My expertise extends
                            across the SDLC, showcasing my commitment and ability at delivering high-quality solutions in fast-paced enviroments. 
                        </p> 

                        <p> Additionally, my professional experience working in the technology industry has
                            equipped me with the skills necessary to naturally integrate into your team, and contribute
                            to your exceptional client service.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section-->
    <section id="skills" class="skill-section">
        <h2 class="skill-section-heading">My skills</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-spin"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        
    </section>
 




    <!-- <div id="profile" class="section2">
        <div class="body-container">
            <h1>About Me</h1>
        <p>Junior Software Engineer with a keen interest in identifying problems and implementing effective solutions 
            that satisfy business objectives. Passion for Internet of Things, Artificial Intelligence, Machine learning. Gained 
            experience working at Evertz Microsystems, a leading manufacture in Broadcasting solutions. Seeking an 
            entry-role in the Technology sector.</p>
        <a href="#" class="button2">Download CV</a>
        </div>
    </div>
    <hr>

    <div id="posts" class="section3">
        <div class = "image-container">
        
            <div>
            <img src="{%static 'images\Programming_code.png' %}" class="post-column">
                <p> Hwdwadahda dad ada</p>
            </div>

            <div>    
                <h1 class="title-row">My Posts</h1>
                <img src="{%static 'images\Programming_code.png' %}" class="post-column">
                <p>Project Description 2</p>
            </div>
                
            <div>
                <img src="{%static 'images\Programming_code.png' %}" class="post-column">
                <p>Project Description 3</p>
            </div>


        </div>
        <hr>
    </div>
    <hr>
    

    <div id="contact" class="section4">
        <h1>Get In Touch</h1>
            Resume content goes here
</div> -->

</body>
</html> 
